@font-face {
  font-family: 'Crete';
  src: url("../fonts/creteround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/josefinsans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/josefinsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  background: #0e1f48;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  padding: 0;
  margin: 0; }

#site {
  border: 1rem solid #FF5A00;
  min-height: 100vh;
  position: relative; }

.blue-waves-bg {
  background-color: #163173;
  background-image: url("../images/waves.svg");
  background-size: 100px auto; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: none;
  cursor: pointer;
  border: 1rem solid #FF5A00;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: url("../images/waves-light.svg");
  background-size: 100px auto; }
  .overlay-on .overlay {
    display: block; }

a {
  color: #FF5A00;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #ff8c4d; }

.btn {
  font-size: 0.8571428571em;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  background: #FF5A00;
  color: white;
  line-height: 1em;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn:hover {
    background-color: #163173;
    color: white; }

h1 {
  font-family: "Crete", serif;
  font-size: 2.8571428571em;
  line-height: 1em;
  margin: 0; }

h2 {
  font-size: 2.2857142857em;
  font-family: "Crete", serif;
  line-height: 1em; }

p {
  font-size: 1em; }

.site-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  min-height: 7rem; }

.site-title {
  background-image: url("../images/ss-12-title.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-width: 200px; }
  .site-title::after {
    content: '';
    display: block;
    padding-top: 15.812%; }

.page-title {
  padding: 3rem;
  margin-bottom: 5rem;
  background-color: #0a1633; }

.hamburger-button {
  appearance: none;
  border: 0;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #FF5A00;
  background-image: url("../images/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center;
  cursor: pointer; }
  .overlay-on .hamburger-button {
    z-index: 1100;
    background-image: url("../images/x-icon.svg"); }

.site-nav {
  display: none;
  position: absolute;
  z-index: 1010;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1rem solid #FF5A00;
  padding: 3rem;
  text-align: center;
  cursor: default;
  color: #0e1f48; }
  .overlay-on .site-nav {
    display: block; }

.site-nav-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .site-nav-list > li {
    padding: 0;
    margin: 0 0; }
    .site-nav-list > li > a {
      display: block;
      font-family: "Crete", serif;
      font-size: 1.7142857143em;
      color: #FF5A00;
      padding: 1rem 0; }
      .site-nav-list > li > a:hover {
        background: #ffdecc; }

.special-links {
  list-style: none;
  padding: 0;
  margin: 0 -1rem;
  display: flex; }
  .special-links > li {
    padding: 0;
    margin: 0; }
    .special-links > li > a {
      display: inline-block;
      font-size: 0.6666666667em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1rem;
      line-height: 1em; }
      .special-links > li > a:hover {
        background-color: #163173; }
      .special-links > li > a::before {
        display: block;
        content: '';
        width: 2rem;
        height: 2rem;
        margin: 0 auto 0.5rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; }
      .special-links > li > a[href*="mailto"]::before {
        background-image: url("../images/icons/paper-plane.svg"); }
      .special-links > li > a[href*="dribbble"]::before {
        background-image: url("../images/icons/dribbble.svg"); }
      .special-links > li > a[href*="github"]::before {
        background-image: url("../images/icons/github.svg"); }
      .special-links > li > a[href*="codepen"]::before {
        background-image: url("../images/icons/codepen.svg"); }

.site-content {
  max-width: 1000px;
  margin: auto; }

.wp-block-gallery {
  display: flex;
  list-style: none;
  margin: 2rem 0;
  padding: 0; }

.blocks-gallery-item {
  flex: 0 0 50%;
  padding: 1rem;
  margin: 0; }
  .blocks-gallery-item figure {
    padding: 0;
    margin: 0; }
  .blocks-gallery-item img {
    width: 100%;
    height: auto; }

.listing-item, .wp-block-media-text {
  display: flex;
  margin: 2rem auto;
  padding: 2rem 0 0 0;
  flex-wrap: wrap; }
  .listing-item::after, .wp-block-media-text::after {
    display: block;
    content: '';
    flex: 0 0 100%;
    width: 100%;
    height: 1rem;
    background-color: #163173;
    background-image: url("../images/waves.svg");
    background-size: 100px auto; }
  .listing-item:last-of-type, .wp-block-media-text:last-of-type {
    border-bottom: 0; }
    .listing-item:last-of-type::after, .wp-block-media-text:last-of-type::after {
      display: none; }

.listing-image, .wp-block-media-text__media {
  flex: 0 0 30%;
  padding: 0 2rem 2rem 0;
  margin: 0; }
  .listing-image img, .wp-block-media-text__media img {
    width: 100%;
    height: auto; }

.listing-content, .wp-block-media-text__content {
  font-size: 1em;
  flex: 0 0 70%;
  padding-bottom: 2rem; }
  .listing-content h2, .wp-block-media-text__content h2 {
    margin: 0; }
    .listing-content h2 a, .wp-block-media-text__content h2 a {
      color: white; }

.home-content {
  width: 100%;
  height: calc(100vh - 2rem);
  display: flex; }

.home-header {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-header .site-title {
    max-width: 400px; }

.home-header-contents {
  width: 100%;
  padding: 10%;
  background-color: #0e1f48; }
  .home-header-contents h1 {
    font-size: 1.9047619048em; }
  .home-header-contents h2 {
    font-size: 1.3333333333em; }

.home-decoration {
  flex: 0 0 50%;
  background-color: #0e1f48;
  background-image: url("../images/dv-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (min-width: 768px) {
    .home-decoration {
      background-image: url("../images/dv-medium.jpg"); } }
  @media (min-width: 1400px) {
    .home-decoration {
      background-image: url("../images/dv-large.jpg"); } }

.site-footer {
  text-align: center; }
  .site-footer .site-footer-nav {
    margin: auto;
    display: inline-block; }
  .site-footer .special-links {
    margin: 0; }

.hide {
  display: none; }
