@font-face {
  font-family: 'Crete';
  src: url("../fonts/creteround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  background: #ebebeb;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  padding: 0;
  margin: 0; }

#site {
  border: 0.5rem solid #e6621a;
  min-height: 100vh;
  position: relative; }
  @media (min-width: 768px) {
    #site {
      border-width: 1rem; } }

.blue-waves-bg {
  background-color: #1e3c84;
  background-image: url("../images/waves.svg");
  background-size: 100px auto; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: none;
  cursor: pointer;
  border: 0.5rem solid #e6621a;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: url("../images/waves-light.svg");
  background-size: 100px auto; }
  .overlay-on .overlay {
    display: block; }
  @media (min-width: 768px) {
    .overlay {
      border-width: 1rem; } }

a {
  color: #e6621a;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn, .wp-block-button a {
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to bottom, #e6621a 0%, #b94e14 100%);
  color: white;
  line-height: normal;
  padding: .25rem 1.5rem;
  margin: auto;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block; }
  .btn:hover, .wp-block-button a:hover {
    background-image: linear-gradient(to bottom, #e97231 0%, #8b3b0f 100%);
    text-decoration: none; }
  @media (min-width: 768px) {
    .btn, .wp-block-button a {
      font-size: 1.125em;
      padding: .75rem 2rem; } }

h1, .section-heading {
  font-family: "Crete", serif;
  font-size: 2.25em;
  line-height: 1em;
  margin: 0;
  color: #ebebeb; }
  @media (min-width: 768px) {
    h1, .section-heading {
      font-size: 3.75em; } }

h2 {
  font-size: 2em;
  font-family: "Crete", serif;
  line-height: 1em;
  color: #102046; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.625em; } }

h3 {
  font-family: "Crete", serif;
  font-size: 1.3125em;
  color: #102046; }

p {
  padding: 0;
  margin: 0 0 1rem 0; }

.intro {
  font-size: 1em; }
  @media (min-width: 768px) {
    .intro {
      font-size: 1.3125em;
      line-height: 1.6em;
      margin-bottom: 2rem; } }

.special-heading {
  text-align: center; }

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #102046;
  background-image: url("../images/chevron-pattern.svg");
  background-size: auto 120px; }
  @media (min-width: 768px) {
    .site-header {
      padding: 2rem 0;
      min-height: 12.5em; } }

.site-title {
  display: block;
  background-image: url("../images/ss-12-title.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-width: 200px;
  max-width: 40vw;
  margin: 0 auto 1rem auto; }
  .site-title::after {
    content: '';
    display: block;
    padding-top: 15.812%; }
  @media (min-width: 1024px) {
    .site-title {
      max-width: 400px; } }

.page-title {
  padding: 1rem;
  color: #ebebeb;
  background-color: #0b1731; }
  @media (min-width: 768px) {
    .page-title {
      padding: 3rem 0; } }

.site-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center; }
  .site-nav-list > li {
    padding: 0;
    margin: 0; }
    .site-nav-list > li > a {
      display: block;
      font-family: "Crete", serif;
      font-size: 1.5em;
      color: white;
      padding: 0.5rem 1rem;
      line-height: 1em;
      text-shadow: 1px 1px 0px #e6621a;
      text-align: center; }
      .site-nav-list > li > a:hover {
        background: #1a9fe6;
        color: white;
        text-decoration: none; }
  @media (min-width: 768px) {
    .site-nav-list {
      flex-direction: row; } }

.special-links {
  list-style: none;
  padding: 0;
  margin: 0 -1rem;
  display: flex;
  flex-wrap: wrap; }
  .special-links > li {
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    text-align: center; }
    .special-links > li > a {
      display: inline-block;
      font-size: 0.875em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1rem;
      line-height: 1em;
      margin: auto;
      text-decoration: none; }
      .special-links > li > a:hover {
        background-color: #1a9fe6;
        color: white; }
      .special-links > li > a svg {
        display: block;
        width: 2rem;
        height: 2rem;
        margin: 0 auto 0.5rem auto;
        fill: white; }
  @media (min-width: 768px) {
    .special-links > li {
      flex: 1 1 auto; } }

.site-content {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem; }
  @media (min-width: 768px) {
    .site-content {
      padding: 0 1rem; } }

main.site-content {
  padding: 2rem; }
  @media (min-width: 768px) {
    main.site-content {
      padding: 3rem 1rem; } }

.wp-block-gallery {
  display: flex;
  list-style: none;
  margin: 2rem 0;
  padding: 0; }

.blocks-gallery-item {
  flex: 0 0 50%;
  padding: 1rem;
  margin: 0; }
  .blocks-gallery-item figure {
    padding: 0;
    margin: 0; }
  .blocks-gallery-item img {
    width: 100%;
    height: auto; }

hr {
  width: 100%;
  height: 0.5rem;
  border: 0 none;
  margin: 2rem 0;
  background-color: #e6621a;
  display: block; }
  @media (min-width: 768px) {
    hr {
      height: 1rem; } }

.alignright {
  float: right;
  margin: 1rem 0 1rem 1rem; }
  @media (max-width: 767px) {
    .alignright {
      width: 40%; }
      .alignright img {
        width: 100%;
        height: auto; } }

.alignleft {
  float: left;
  margin: 1rem 1rem 1rem 0; }
  @media (max-width: 767px) {
    .alignleft {
      width: 40%; }
      .alignleft img {
        width: 100%;
        height: auto; } }

.aligncenter {
  text-align: center; }

.wp-block-image {
  padding: 0;
  margin: 2rem 0;
  display: inline; }
  .wp-block-image > img {
    width: 100%;
    height: auto; }

.listing-item, .wp-block-media-text {
  margin: 2rem auto;
  padding: 0; }
  @media (min-width: 768px) {
    .listing-item, .wp-block-media-text {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, auto);
      padding: 0;
      margin: 4rem auto; } }

.listing-image, .wp-block-media-text__media {
  padding: 0;
  margin: 0; }
  .listing-image img, .wp-block-media-text__media img {
    width: 100%;
    height: auto;
    display: block; }
  @media (min-width: 768px) {
    .listing-image, .wp-block-media-text__media {
      grid-column: 1 / 7;
      grid-row: 1 / 2;
      padding: 0; } }

.listing-content, .wp-block-media-text__content {
  font-size: 1em;
  line-height: 1.5em;
  padding: 1rem;
  background-color: #102046;
  color: white; }
  .listing-content h2, .wp-block-media-text__content h2 {
    margin: 0 0 1rem 0;
    font-size: 1.75em;
    color: white; }
    .listing-content h2 a, .wp-block-media-text__content h2 a {
      color: white; }
    .listing-content h2 a:hover, .wp-block-media-text__content h2 a:hover {
      text-decoration: none; }
  @media (min-width: 768px) {
    .listing-content, .wp-block-media-text__content {
      grid-column: 3 / 9;
      grid-row: 2 / 3;
      padding: 2rem;
      font-size: 1.3125em; }
      .listing-content h2, .wp-block-media-text__content h2 {
        font-size: 2.25em; } }

.featured-grid {
  display: grid;
  grid-template-columns: minmax(auto, 400px);
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 3rem 0;
  grid-gap: 3rem; }
  @media (min-width: 768px) {
    .featured-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem; } }
  @media (min-width: 1024px) {
    .featured-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .featured-grid > li {
    padding: 0;
    margin: 0;
    position: relative;
    transition: 200ms ease-in-out transform; }
    .featured-grid > li::after {
      display: block;
      content: '';
      background-color: #1e3c84;
      background-image: url("../images/waves.svg");
      background-size: 100px auto;
      position: absolute;
      bottom: -.5rem;
      right: -.5rem;
      width: 100%;
      height: 100%; }
    .featured-grid > li:hover {
      transform: scale(1.1); }

.featured-grid-item {
  display: block;
  position: relative;
  z-index: 10; }
  .featured-grid-item > img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%); }
  .featured-grid-item > header {
    background-color: #e6621a;
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 1.2em;
    padding: 0.5rem 1rem; }
  li:hover .featured-grid-item img {
    filter: grayscale(0); }

.blog-post h1, .blog-post .section-heading {
  color: #333;
  font-size: 2.25em; }

.blog-post blockquote {
  margin: 2rem 0;
  padding: 1rem 1rem 1rem 4rem;
  position: relative; }
  .blog-post blockquote p {
    font-size: 1.125em; }
  .blog-post blockquote p:last-of-type {
    margin-bottom: 0; }
  .blog-post blockquote:before {
    display: block;
    content: '';
    background-color: #1e3c84;
    background-image: url("../images/waves.svg");
    background-size: 100px auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1rem; }

.blog-post-meta {
  margin-bottom: 2rem; }

.site-footer {
  text-align: center; }
  .site-footer .site-footer-nav {
    margin: auto;
    display: inline-block; }
  .site-footer .special-links {
    margin: 0; }

.hide {
  display: none; }
