.site-header {
    display: flex;
    align-items: center;
    padding: 2rem;
    min-height: 7rem;
}

.site-title {
    background-image: url('../images/ss-12-title.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    max-width: 200px;
    
    &::after {
        content: '';
        display: block;
        padding-top: 15.812%;
    }
}


.page-title {
    padding: 3rem;
    margin-bottom: 5rem;

    background-color: darken($color1,5%);
}