.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 9rem;
 
    > .site-masthead {
        //text-align: center;
    }

    @media (min-width: 768px){
        padding: 2rem;
        min-height: rem(200);
    }
}

.site-title {
    display: block;
    background-image: url('../images/ss-12-title.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 1rem auto;
    
    &::after {
        content: '';
        display: block;
        padding-top: 15.812%;
    }

    @media (min-width: 1200px){
        max-width: 300px;
    }
}


.page-title {
    padding: 3rem 0;

    background-color: darken($color1,5%);
}