.home-content {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px){
        height: calc(100vh - 2rem);
    }
}

.home-header {
    flex: 0 0 100%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .site-title {
        max-width: 400px;
    }

    @media (min-width: 768px){
        flex: 0 0 50%;
        order: 1;
    }
}
    .home-header-contents {
        width: 100%;
        padding: 1rem;
        background-color: $color1;
        
        h1 {
            font-size: rem(40);
        }

        h2 {
            font-size: rem(28);
        }

        @media (min-width: 768px){
            padding: 10%;
        }

        @media (min-width: 1440px){
            padding: 10% 20%;
        }
    }

.home-decoration {
    flex: 0 0 100%;
    order: 1;
    height: 30vh;
    background-color: $color1;
    background-image: url('../images/dv-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
        display: block;
        content: '';
        height: 100%;
        opacity: 0.25;
        @include light-waves-bg;
    }

    @media (min-width: 768px){
        flex: 0 0 50%;
        order: 2;
        height: auto;
        background-image: url('../images/dv-medium.jpg');
    }

    @media (min-width: 1400px){
        background-image: url('../images/dv-large.jpg');
    }
}

.featured-grid {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 3rem 0;
    grid-gap: 3rem;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    >li {
        padding: 0;
        margin: 0;
        position: relative;

        &::after {
            display: block;
            content: '';
            @include blue-waves-bg;
            position: absolute;
            bottom: -.5rem;
            right: -.5rem;
            width: 100%;
            height: 100%;
        }
    }
}

.featured-grid-item {
    display: block;
    position: relative;
    z-index: 10;
    
    >img {
        display: block;
        width: 100%;
        height: auto;
    }

    >header {
        background-color: $color2;
        display: inline-block;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        line-height: 1.2em;
        
        padding: 0.5rem 1rem;
    }

    
}