.hamburger-button {
    appearance: none;
    border: 0;
    position: fixed;
    z-index: 1100;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color2;
    background-image: url('../images/hamburger-icon.svg');
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: center center;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 0 0.25rem $highlight;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem $highlight;
    }

    &:active {
        background-color: darken($color2,15%);
    }

    .overlay-on & {
        z-index: 1100;
        background-image: url('../images/x-icon.svg');
    }

    @media (min-width: 768px){
        width: 5rem;
        height: 5rem;
        background-size: 2rem 2rem;
        transform: translateY(-50%);
        top: calc(200px / 2 + 1rem);
    }
}


.site-nav {
    display: none;
    position: absolute;
    z-index: 1010;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%,-50%);
    
    background-color: white;
    border: 0.5rem solid $color2;
    padding: 1rem 2rem;
    text-align: center;
    cursor: default;

    color: $color1;

    .overlay-on & {
        display: block;
    }

    @media (min-width: 768px){
        width: 50%;
        padding: 3rem;
        border-width: 1rem;
    }
}


.site-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
        padding: 0;
        margin: 0 0;

        >a {
            display: block;
            font-family: $primary-font;
            font-size: rem(36);
            color: $color2;
            padding: 1rem;

            &:hover {
                background: lighten($color2,40%);
            }
        }
    }
}


.special-links {
    list-style: none;
    padding: 0;
    margin: 0 -1rem;
    display: flex;
    flex-wrap: wrap;

    > li {
        padding: 0;
        margin: 0;
        flex: 1 1 50%;
        text-align: center;

        > a {
            display: inline-block;
            font-size: rem(14);
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem;
            line-height: 1em;
            margin: auto;

            &:hover {
                background-color: $color1_light;
            }

            &::before {
                display: block;
                content: '';
                width: 2rem;
                height: 2rem;
                margin: 0 auto 0.5rem auto;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &[href*="mailto"]::before {
                background-image: url('../images/icons/paper-plane.svg');
            }

            &[href*="dribbble"]::before {
                background-image: url('../images/icons/dribbble.svg');
            }

            &[href*="github"]::before {
                background-image: url('../images/icons/github.svg');
            }

            &[href*="codepen"]::before {
                background-image: url('../images/icons/codepen.svg');
            }
        }
    }

    @media (min-width: 768px){
        > li {
            flex: 1 1 auto;
        }
    }
}