.listing-item {
    margin: 2rem auto;
    padding: 0;

    @include blue-waves-bg;

    @media (min-width: 768px){
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(2,auto);

        padding: 0;
        margin: 4rem auto;

    }
    
}

.listing-image {
    padding: 0 0 1rem 0;
    margin: 0;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @media (min-width : 768px){
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        padding: 0;
    }

    @media (min-width: 1200px){
       
        
        
    }
}

.listing-content {
    font-size: em(21);
    padding: 2rem;
    background-color: $color1_light;

    h2 {
        margin: 0;

        a { color: white; }
    }

    @media (min-width: 768px){
        grid-column: 3 / 9;
        grid-row: 2 / 3;
    }

    @media (min-width: 1200px){
        
    }
}

.wp-block-media-text {
    @extend .listing-item;
}

.wp-block-media-text__media {
    @extend .listing-image;
}

.wp-block-media-text__content {
    @extend .listing-content;
}



