// colors

$navy: #102046;
$orange: #e6621a;
$teal: #5edd9e;
$lightgray: #ebebeb;
$darkgray: #333;
$lightblue: #1a9fe6;

$color1: $navy;
$color1-dark: darken($color1,5%);
$color1-light: lighten($color1,15%);

$highlight: $lightblue;
$color2: $orange;
$color-bg: $lightgray;
$body-color: $darkgray;
$link-color: $orange;



$gray: #2d2d2d;

// fonts

$primary-font: "Crete", serif;
$secondary-font: "Open Sans", sans-serif;
$body-font: $secondary-font;



// convert EMs

@function em($size){
	@return #{$size/16}em;
}

@function rem($size){
	@return #{$size/16}em;
}


// styles

@mixin blue-waves-bg {
	background-color: $color1-light;
    background-image: url('../images/waves.svg');
    background-size: 100px auto;
}

@mixin light-waves-bg {
	background-color: rgba(white,0.25);
    background-image: url('../images/waves-light.svg');
    background-size: 100px auto;
}