// colors

$navy: desaturate(#0e1f48,5%);
$red: #f93122;
$orange:desaturate(#FF5A00,20%);
$teal: #5edd9e;
$gold: #f1df15;

$color1: $navy;
$color2: $orange;
$link-color: $orange;
$highlight: $teal;

$color1_light: lighten($color1,10%);

$gray: #2d2d2d;

// fonts

$primary-font: "Crete", serif;
$secondary-font: "Josefin Sans", sans-serif;
$body-font: $secondary-font;



// convert EMs

@function em($size){
	@return #{$size/21}em;
}

@function rem($size){
	@return #{$size/21}em;
}


// styles

@mixin blue-waves-bg {
	background-color: $color1_light;
    background-image: url('../images/waves.svg');
    background-size: 100px auto;
}

@mixin light-waves-bg {
	background-color: rgba(white,0.25);
    background-image: url('../images/waves-light.svg');
    background-size: 100px auto;
}