
a {
    color: $color2;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: lighten($color2,15%);
    }
}


.btn {
    font-size: rem(18);
    font-weight: bold;
    font-family: $secondary-font;
    text-shadow: 0 1px 3px rgba(black,0.75);
    background-image: linear-gradient(to bottom, $color2 0%, darken($color2,20%) 100%);
    border: 2px solid darken($color2, 20%);
    color: white;
    line-height: normal;
    padding: 1rem 2rem 0.75rem 2rem;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px;
    display: inline-block;

    &:hover {
        border-color: $color2;
    }
}

.wp-block-button {
    
    a { @extend .btn; }
}



h1 {
    font-family: $primary-font;
    font-size: rem(36);
    line-height: 1em;
    margin: 0;

    @media (min-width: 768px){
        font-size: rem(60);
    }
}

h2 {
    font-size: rem(32);
    font-family: $primary-font;
    line-height: 1em;

    @media (min-width: 768px){
        font-size: rem(48);
    }
}




p {
    font-size: rem(21);
}


.special-heading {
    
}