
a {
    color: $color2;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: lighten($color2,15%);
    }
}


.btn {
    font-size: rem(18);
    font-weight: bold;
    font-family: $secondary-font;
    background: $color2;
    color: white;
    line-height: 1em;
    padding: 0.5rem 1rem 0.2rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px;
    display: inline-block;

    &:hover {
        background-color: $color1_light;
        color: white;
    }
}

.wp-block-button {
    @extend .btn;
    a { color: white; }
}


h1 {
    font-family: $primary-font;
    font-size: rem(36);
    line-height: 1em;
    margin: 0;

    @media (min-width: 768px){
        font-size: rem(60);
    }
}

h2 {
    font-size: rem(32);
    font-family: $primary-font;
    line-height: 1em;

    @media (min-width: 768px){
        font-size: rem(48);
    }
}




p {
    font-size: rem(21);
}


.special-heading {
    
}