.section-row {
    .site-content {
        padding: 2rem;
    }
}


.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;

    @media (min-width: 768px) {
        grid-template-colums: 2fr 1fr;
    }
}