.site-header {
    color: white;
    @include chevron-pattern;
}

.site-masthead {
    
}

.site-title {
    display: block;

    svg.svg-icon {
        width: 3rem;
        height: 3rem;
    }
}


.page-title {
    color: $color-bg;
    background-color: $color1-dark;
}